.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 19px;
  margin-bottom: 19px;
  width: 95%;
  max-width: 1000px;
}
.match-image {
  width: 100%;
  max-width: 600px;
}
.tabs-list {
  display: flex;
  align-items: flex-end;
  gap: 13px;
  margin-top: 28px;
  padding: 0;
  list-style-type: none;
}
.thumbnails-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 800px;
  list-style-type: none;
  padding: 0;
}
