.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #2c0e3a;
}
@media screen and (min-width: 768px) {
  .navbar-container {
    padding: 10px 80px;
  }
}
.website-logo {
  width: 130px;
}
@media screen and (min-width: 768px) {
  .website-logo {
    width: 150px;
  }
}
.nav-items-container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .nav-items-container {
    gap: 32px;
  }
}
.score-text {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 17px;
}
@media screen and (min-width: 768px) {
  .score-text {
    font-size: 20px;
  }
}
.score-span {
  color: #fec653;
}
.timer-container {
  display: flex;
  align-items: center;
  gap: 7px;
}

.timer-icon {
  width: 24px;
  height: 24px;
}
@media screen and (min-width: 768px) {
  .timer-icon {
    width: 27px;
    height: 27px;
  }
}
.timer-text {
  color: #fec653;
  font-family: 'Roboto';
  font-size: 17px;
}
@media screen and (min-width: 768px) {
  .timer-text {
    font-size: 20px;
  }
}
